<template>
    <div>
        <h1>Punk API</h1>
        <section class="content text-center" v-if="beers.length == 0">
            <a href="#" class="btn btn-red" @click.prevent="load" v-bind:class="{'btn-load': loader}">Load Some Beers!</a>
        </section>
        <section class="content" v-if="beers.length != 0">
            <a href="#" class="btn btn-red btn-toggle" @click.prevent="toggleGrid">Toggle Grid</a>
        </section>
        <section class="content" v-if="beers.length != 0">
            <div class="row">
                <div class="tile" v-bind:class=grid v-for="beer in beers">
                    <div class="content">
                        <div class="image-wrapper">
                            <img v-bind:src=beer.image_url v-bind:alt=beer.name />
                        </div>
                        <div class="info">
                            <h3 class="name">{{ beer.name }}</h3>
                            <span class="abv">{{ beer.abv }}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from 'axios';
    
export default{
    data() {
        return {
            beers: [],
            grid: "col-4",
            loader: false
        };
    },
    methods: {
        load() {
            this.loader = true;
            
            axios
                .get('/beers')
                    .then(response => {
                        this.beers = response.data;
                        this.loader = false;
                    });
        },
        toggleGrid() {
            if (this.grid == "col-4") {
                this.grid = "col-2";
            } else {
                this.grid = "col-4";
            }
        }
    }
}
</script>