.tile {
    
    .content {
        margin: 10px;
    }
    
    .image-wrapper {
        border: 1px solid $black;
        text-align: center;
        
        img {
            max-width: 100%;
            max-height: 280px;
            padding: 20px;
        }
    }
    .info {
        position: relative;
        
        .name {
            padding-right: 55px;
        }
        .abv {
            position: absolute;
            font-weight: 700;
            font-size: 16px;
            top: 0;
            right: 0;
        }
    }
}